<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">PhoneGap+AngularJS</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list">
    <h3 class="topcoat-list__header">Some List of Features</h3>
    <ul class="topcoat-list">
        <li ng-repea="card in cards" class="topcoat-list__item--first">
            HackerNews
        </li>
        <li class="t
    </ul>
    <div class="topcoat-navigation-bar"></div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>