
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button" ng-click="toggleSideNav()">
            <span class="icomatic topcoat-icon icon">listview</span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 ng-if="!search.active" class="topcoat-navigation-bar__title">BordReview</h1>
        <form ng-if="search.active"  ng-submit="search.do(searchQuery)">
            <input ng-model="search.query" name="search" class="search" type="text" ng-submit/>
        </form>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="search.toggle()">
            <span ng-if="!search.active" class="icomatic topcoat-icon icon">search</span>
            <span ng-if="search.active" class="icomatic topcoat-icon icon">cancel</span>
        </a>
    </div>
</div>
<div class="main-content topcoat-list__container list ">
    <div class="page scrollable">
        <h3 class="topcoat-list__header">All Cards</h3>
        <ul class="topcoat-list">
            <li ng-repeat="card in cards" class="topcoat-list__item card-item">
                <div>
                    <img ng-src="{{card.mini}}"><span>{{card.id}}) {{card.answer}}</span>
               </div>
            </li>
        </ul>
    </div>
</div>
