
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button" ng-click="toggleNav()">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">BordReview</h1>
    </div>
</div>
<div class="main-content topcoat-list__container list ">
    <div class="page">
        Review Stuff
    </div>
</div>
