<nav class="side-nav" ng-controller="NavController">
    <div class="topcoat-list__container side-nav__list__container">
        <ul class="topcoat-list side-nav__list">
            <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':sideNavItemIsActive('/')}">
                <a href="#/" class="side-nav__button">List</a>
            </li>
            <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':sideNavItemIsActive('/review')}">
                <a href="#/review" class="side-nav__button">Review</a>
            </li>
            <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':sideNavItemIsActive('/settings')}">
                <a href="#/settings" class="side-nav__button">Settings</a>
            </li>
        </ul>
    </div>
</nav>