<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="myApp">
    <head>
        <title>NeuroRad</title>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="static/css/icomatic/icomatic.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/topcoat-mobile-light.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/index.css" />

        <!-- DE-BUG ONLY -->
        <script src="http://debug.phonegap.com/target/target-script-min.js#843877"></script>

        <!-- cordova-2.7.0.js will 404 while viewed in browser-->
        <script type="text/javascript" src="cordova-2.7.0.js"></script>

        <script>
            document.addEventListener("deviceready", function(e){
                console.log('deviceready');
            }, false);
        </script>

        <!-- Angular Library -->
        <script src="static/js/lib/angular.min.js"></script>
        <script src="static/js/lib/angular-route.min.js"></script>
        <script src="static/js/lib/angular-touch.min.js"></script>
        <script src="static/js/lib/jquery-1.11.0.min.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/services.js"></script>
        <script src="static/js/services-phonegap.js"></script>
        <script src="static/js/controllers.js"></script>

    </head>
    <body>
        <div id="content-wrapper">
            <nav class="side-nav" ng-controller="NavController">
                <div class="topcoat-list__container side-nav__list__container">
                    <ul class="topcoat-list side-nav__list">
                        <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':isActive('/')}">
                            <a href="#/" class="side-nav__button" ng-click="toggleNav()">List</a>
                        </li>
                        <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':isActive('/review')}">
                            <a href="#/review" class="side-nav__button" ng-click="toggleNav()">Review</a>
                        </li>
                        <li class="topcoat-list__item side-nav__list__item" ng-class="{'is-active':isActive('/settings')}">
                            <a href="#/settings" class="side-nav__button" ng-click="toggleNav()">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="slide">
                <ng-view></ng-view>
            </div>
        </div>
    </body>
</html>